[Unit]
Description=Script Init Vault
After=network.target

[Service]
Type=simple
ExecStart=/mnt/onepoint/vault.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target

